<h1>Individuals</h1>

<% if @individuals.any? %>
  <ul>
    <% @individuals.each do |individual| %>
      <li><%= link_to individual.name, individual_path(individual) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no individuals yet.</p>
<% end %>


<p><%= link_to "Create new individual", new_individual_path %></p>
